/* Colors */
@white: #ecf8f8;
@light: #e6e6fa;
@cream: #d1d1f6;
@pink: #bcbcf2;
@dark: #a6a6ed;
@darkgray: #2c2c2c;

/*Fonts*/
@sans: "Roboto", sans-serif;
@serif: "Noto Serif TC", serif;
@open-sans: "Open Sans", sans-serif;

/*Misc*/
@ease: all 0.4s ease;
